<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>asyDown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1032367D1E0B6E5E0094F2E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>103236961E0B6E5F0094F2E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>103236A11E0B6E5F0094F2E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
